<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Todo CRUD APP</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css" href="/main.css"/>
</head>

<body>
<h1>Add new todo</h1>
<p>
  <a th:href="@{add}">Add new todo</a>
</p>
<!--/*@thymesVar id="todos" type="com.greenfoxacademy.todoembedded.model.Todo"*/-->
<!--/*@thymesVar id="title" type="java.lang.String"*/-->
<table>
  <tr>
    <th>Title</th>
    <th>isUrgent</th>
    <th>isDone</th>
  </tr>
</table>
</body>

</html>
