# Own additions #
_materials/

# Mac OS #
.DS_Store

# Atom #
.~lock.*#

# IntelliJ #
out/
.idea/
*.iml
*.xml
*.class

# Package Files #
*.jar
*.war
*.ear

# Gradle #
.gradle/
build/
gradle.properties
local.properties

!build.gradle
!build.properties
!settings.gradle

# Gradle Wrapper #
!gradlew
!gradlew.bat
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties


