<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <!--  <link rel="stylesheet" type="text/css" href="hello-all.css">  -->
</head>
<body>
<table>
  <tr>
    <th>How to say hello_2:</th>
  </tr>
  <tr th:each="hello : ${helloEntities}">
    <td th:text="|${hello.helloText}, ${name}!|"
        th:style="|color: ${hello.fontColor}; font-size: ${hello.fontSize};|"></td>
  </tr>
</table>
</body>
</html>