<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<table>
  <!--/*@thymesVar id="bankAccountList" type="java.util.List<com.greenfoxacademy.lionkingbank.model.BankAccount>"*/-->
  <tr th:each="bankAccount : ${bankAccountList}"
      th:style="${bankAccount.isKing()}? 'color: gold; font-weight: bold' : ''">
    <td th:text="${bankAccountStat.index}">0</td>
    <td th:text="${bankAccount.name}">Name</td>
    <td th:text="${bankAccount.isKing()}? 'King' : ''">King</td>
    <td th:text="${#numbers.formatDecimal(bankAccount.balance, 1, 2)}">2000.00</td>
    <td th:text="${#strings.toUpperCase(#strings.substring(bankAccount.animalType,0, 1))} + ${#strings.substring(bankAccount.animalType, 1)}">
      Animal Type
    </td>
    <td th:text="${bankAccount.isGoodGuy()}? 'Good Guy' : 'Bad Guy'">Good Guy</td>
    <td>
      <form action="/exercise11/increase" method="get">
        <input type="hidden" name="index" th:value="${bankAccountStat.index}"/>
        <input type="submit" value="+10"/>
      </form>
    </td>
  </tr>
  <tr>
    <!--/*@thymesVar id="createdBankAccount" type="com.greenfoxacademy.lionkingbank.model.BankAccount"*/-->
    <form action="/exercise11/add" method="get" th:object="${createdBankAccount}">
      <td></td>
      <td><input type="text" th:field="*{name}"></input></td>
      <td>
<!--
        <select th:field="*{isKing}">
        </select>
-->
      </td>
      <td><input type="text" th:field="*{balance}"></input></td>
      <td><input type="text" th:field="*{animalType}"></input></td>
      <td>
        <!--<input type="text" th:field="*{name}">name</input>-->
      </td>
      <td><input type="submit" value="Add new account" /></td>
    </form>
  </tr>
</table>

</body>

</html>