<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Programmer Fox Club</title>
  <link rel="stylesheet" type="text/css" href="/style/main.css"/>
</head>

<body>
<table class="navigation_header">
  <tr>
    <th><a class="navigation_header" th:href="@{'/'}">Information</a></th>
    <th><a class="navigation_header" th:href="@{'/trickCenter'}">Trick Centre</a></th>
    <th><a class="navigation_header" th:href="@{'/nutritionStore'}">Nutrition Store</a></th>
  </tr>
</table>

<p><img th:src="@{images/greenfox.png}" alt="Green Fox"/></p>
<!--/*@thymesVar id="fox" type="com.greenfoxacademy.programmerfoxclub.model.Fox"*/-->
<!--/*@thymesVar id="name" type="java.lang.String"*/-->
<p th:text="|This is Mr. ${fox.name}. Currently living on ${fox.food} and ${fox.drink}.|">
  This is Mr. Fox. Currently living on pizza and lemonade.</p>
<p th:text="|He knows ${fox.tricks.size()} tricks.|" >He knows 2 tricks.</p>
<h1>Known tricks</h1>
<ul>
  <li th:each="trickItem : ${fox.tricks}" th:text="${trickItem}">write HTML</li>
</ul>
</body>
</html>