<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Programmer Fox Club</title>
</head>

<body>
<p><a th:href="@{/information.html}">Information</a></p>
<p><a th:href="@{/nutritionStore.html}">Nutrition Store</a></p>
<p><img th:src="@{images/greenfox.png}" alt="Green Fox"/></p>
<table>
  <tr>
  <td></td>
  </tr>
</table>

<h1>Known tricks</h1>
<ul>
  <li>write HTML</li>
  <li>code in Java</li>
</ul>
</body>
</html>