<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
  <title>Programmer Fox Club</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<ul>
  <li><a th:href="@{'/'}">Information</a></li>
  <li><a th:href="@{'/trickCenter'}">Trick Center</a></li>
  <li><a th:href="@{'/nutritionStore'}">Nutrition Store</a></li>
</ul>
<img th:src="@{/images/greenfox.png}" alt="Green Fox"/>

<table>
  <form action="/change-nutrition">
    <tr>
      <th>Food</th>
    </tr>
    <tr>
      <th>Drink</th>
    </tr>
    <tr>
      <td>
        <select name="changeFood">
          <!--/*@thymesVar id="listOfFood" type="java.util.List<String>"*/-->
          <!--/*@thymesVar id="foodItem" type="java.lang.String"*/-->
          <!--/*@thymesVar id="currentFood" type="java.lang.String"*/-->
          <th:block th:each="foodItem : ${listOfFood}">
            <option th:value="${foodItem}"
                    th:text="${foodItem}"
                    th:selected="${currentFood.equals(foodItem)}">Food Item
            </option>
          </th:block>
        </select>
      </td>
      <td>
        <select name="changeDrink">
          <!--/*@thymesVar id="listOfDrinks" type="java.util.List<String>"*/-->
          <!--/*@thymesVar id="drinkItem" type="java.lang.String"*/-->
          <!--/*@thymesVar id="currentDrink" type="java.lang.String"*/-->
          <th:block th:each="drinkItem : ${listOfDrinks}">
            <option th:value="${drinkItem}"
                    th:text="${drinkItem}"
                    th:selected="${currentDrink.equals(drinkItem)}">
            </option>
          </th:block>
        </select>
      </td>
      <td><input type="submit" value="Save"/></td>
    </tr>
  </form>
</table>
</body>
</html>