<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
  <title>Programmer Fox Club</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css" href="/style/main.css"/>
</head>

<body>
<table class="navigation_header">
  <tr>
    <th><a class="navigation_header" th:href="@{'/'}">Information</a></th>
    <th><a class="navigation_header" th:href="@{'/trickCenter'}">Trick Centre</a></th>
    <th><a class="navigation_header" th:href="@{'/nutritionStore'}">Nutrition Store</a></th>
  </tr>
</table>

<img src="images/greenfox.png" alt="Green Fox"/>

<table>
  <form action="/change-trick">
    <tr>
      <th>Tricks</th>
    </tr>
    <!--/*@thymesVar id="listOfRemainingTricks" type="java.util.List<String>"*/-->
    <th:block th:switch="${not #lists.isEmpty(listOfRemainingTricks)}">
      <tr th:case="true">
        <td>
          <select name="addTrick">
            <option th:each="trick : ${listOfRemainingTricks}"
                    th:value="${trick}"
                    th:text="${trick}">
            </option>
          </select>
        </td>
        <td><input type="submit" value="Learn"/></td>
      </tr>
      <tr th:case="false">
        <td>Mr. Fox already knows everything!</td>
      </tr>
    </th:block>
  </form>
</table>
</body>
</html>