<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
  <title>Programmer Fox Club</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<ul>
  <li><a th:href="@{'/'}">Information</a></li>
  <li><a th:href="@{'/trickCenter'}">Trick Centre</a></li>
  <li><a th:href="@{'/nutritionStore'}">Nutrition Store</a></li>
</ul>
<img src="images/greenfox.png" alt="Green Fox"/>

<table>
  <form action="/change-trick">
    <tr>
      <th>Tricks</th>
    </tr>
    <tr>
      <td>
        <select name="addTrick">
          <!--/*@thymesVar id="listOfTricks" type="java.util.List<String>"*/-->
          <option th:each="trick : ${listOfTricks}"
                  th:value="${trick}"
                  th:text="${trick}">
          </option>
        </select>
      </td>
      <td><input type="submit" value="Learn"/></td>
    </tr>
  </form>
</table>
</body>
</html>